body {
  background-color: #555;
}

.container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 400px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.grid {
  border: 5px solid red;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game {
   border: 1px solid red;
   padding: 10px 20px;
   margin: 10px
}